.img-center {
    display: block;
    margin: auto;
    margin-top: 1.5em;
}
html {      
    background-image: url('/assets/img/illustration.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-color: #005D9E;
}
